header {
    background-color: #1b1933;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 40px;
    margin-top: 20px;
    z-index: 90000;
}





.navbar {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.get_btn {
    padding: 10px;
    background-color: #524dd3;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.lilar,
a {
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}